/* 
 * 0.-Misc
 *  0.1.-Import - Reset
 *  0.2.-Variables
 *  0.3.-Funciones
 * 1.-Principal
 *  1.1.-Helpers
 * 20.-Global
 * 21.-Custom
 * 22.-MediaQueries
 */

/*------------------------- 0.-Misc --------------------*/  
/*------------------------- 0.1.-Import - Reset --------------------*/
@import 'nib'
/*@import url('http://fonts.googleapis.com/css?family=Quicksand')*/
/*global-reset()*/

/*------------------------- 0.2.-Variables --------------------*/
background-color = #faf9f0
main-color = #fa5b4d
topbar-color = #2B4998//#BE1B1B !important
topbar-menu-color = rgba(59, 89, 152, 0.1) !important//rgba(167, 13, 13, 0.1) !important

/*------------------------- 0.3.-Funciones --------------------*/
bcolor(t = 0.1, r = 59, g = 89, b = 152)
  background-color rgba(r, g, b, t) !important
borde(color = #F00)
  border 1px solid color !important
t-sombra(color = #222)
  text-shadow 2px 2px 1px color
sombra(color = #222)
  box-shadow 3px 3px 10px color

/*------------------------- 1.-Principal --------------------*/
body, html
  color #444
  font-family Arial
  font-size 16px
  text-transform uppercase
  height 100%
  width 100%

footer
  border-top 1px dotted #ccc
  font-size 13px
  margin 1em auto
  padding-top 0.5em
  text-align center
  width 90%

header
  color #fff
  font-family 'Quicksand', Arial

#main-container
  clear both
  margin-top 1em
  padding 0 0.1em !important
  width 100%

#main-container #venta_articulos
  margin 0 auto

#main-container #venta_articulos table
  width 100%

#main-container #venta_articulos table td.format-number
  text-align right

#main-container #venta_articulos table thead th:first-child,
#main-container #venta_articulos table .special
  margin 0 !important
  padding 0 !important
  width 0.4% !important

#main-container #venta_articulos #total_venta
  font-size 1.7em
  font-weight bold
  margin 0.5em 0
  text-align right

#main-container #venta_penientes
  border(#222)
  background-color rgba(20, 20, 20, 0.8)
  height 90%
  margin-bottom 1em
  overflow scroll
  padding 0
  position absolute
  width 20%
  z-index 99

#main-container #venta_penientes
  span.header
    bcolor()
    color #FFF
    display block
    font-weight bold
    padding 0.5em 0.3em

#main-container #venta_penientes
  .ventas
    height 100%

#main-container #venta_penientes label
  borde(#222)
  color #FFF
  cursor default
  display block
  margin 0.5em 0
  padding 0.3em 0.4em
  t-sombra()
  width 100%

#pnlAlert
  bottom 0
  display block
  height auto
  padding 1em
  position absolute
  width 100%

/*------------------------- 1.1.-Helpers --------------------*/
#pnlCierreCV
  borde(#3f4c6b)
  /*bcolor(0.5, 63, 76, 107)*/
  border-radius 5px
  padding 1em
  position relative
  top 20%

  label
  span
    font-weight bold

  .switch
    margin-top 0.15em
    width 90%

    label
      padding 0 1em

/*------------------------- 20.-Global --------------------*/
.alert-box
  border 1px solid #222
  font-size 1em
  margin 0.3em auto
  padding-top 0.5em
  padding-bottom 0.2em
  sombra()
  width 90%
  z-index 1000

  label
    color #FFF
    font-size 1.1em
    t-sombra(#444)

.borderedHR
  border 1px solid blue

.borderedSP, .borderedSP *
  border 1px solid blue

.clearfix
  clear both

.close
  borde()
  margin 0 !important
  margin-top -3px !important
  padding 0 !important

.cpointer
  cursor pointer

.darken
  background-color rgba(20, 20, 20, 0.7)

.index-primary
  z-index 999

.isHidden
  display none !important

.isNumber
  text-align right

.limit-text
  overflow hidden
  max-width 1px
  text-overflow ellipsis
  white-space nowrap

#loading
  borde()
  background-color rgba(20, 20, 20, 0.5)
  height 100%
  left 0
  position absolute
  text-align center
  top 0
  width 100%
  z-index 99

#loading
  span
    borde(#222)
    border-radius 5px
    background-color rgba(250, 250, 250, 0.9)
    font-weight bold
    padding 1em
    position relative
    top 45%

#loading
  span
    img
      position relative
      width 2em

.panel
  overflow hidden

  .panel-header
    bcolor(1)
    left -20px !important
    padding 0.5em 1em !important
    position relative !important
    sombra()
    top -16px !important
    t-sombra()
    width 115%

.panel-modal
  color #EEE
  background-color rgba(20, 20, 20, 0.9)
  height 100%
  left 0
  padding 1em
  position absolute
  top 0
  width 100%

  strong
    t-sombra()

table
  sombra()

table th
    background-color topbar-color
    color #FFF !important
    font-weight bold
    text-shadow 3px 3px 10px #222

table
table td
table th
  border none !important

table .isSelected td.special
  background-color #4D90F0

table.hovered
  tr:hover
    bcolor(0.8, 50, 40, 200)

    td
      color #EEE
      t-sombra()

.text-center
  text-align center

.text-left
  text-align left

.text-right
  padding-right 0.3em
  text-align right

.w10
  width 10%

.w20
  width 20%

/*------------------------- 21.-Custom --------------------*/
.top-bar
  sombra()

.top-bar
.top-bar ul
.top-bar a
  background-color topbar-color !important

.top-bar .divider
  border-color #1B3978 !important

.top-bar .dropdown
.top-bar .dropdown a
  background-color rgba(59, 89, 152, 0.6) !important

/*------------------------- 22.-MediaQueries --------------------*/
@media (max-width: 320px)
  #main-container #venta_articulos table th
    font-size 0.6em

  #main-container .sidebar label
    margin 0 auto
    width 90%