/* 
 * 1.-Principal
 * 20.-Global
 * 21.-Custom
 * 22.-MediaQueries
 */
/*------------------------- 1.-Principal --------------------*/
body,
html {
  color: #444;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}
form label {
  padding-right: 5px;
  text-align: right !important;
}
/*------------------------- 20.-Global --------------------*/
.alert-box {
  border: 1px solid #222;
  font-size: 1em;
  margin: 0.3em auto;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  -webkit-box-shadow: 3px 3px 10px #222;
  box-shadow: 3px 3px 10px #222;
  width: 90%;
  z-index: 1000;
}
.alert-box label {
  color: #fff;
  font-size: 1.1em;
  text-shadow: 2px 2px 1px #444;
}
.borderedHR {
  border: 1px solid #00f;
}
.borderedSP,
.borderedSP * {
  border: 1px solid #00f;
}
.clearfix {
  clear: both;
}
.close {
  border: 1px solid #f00 !important;
  margin: 0 !important;
  margin-top: -3px !important;
  padding: 0 !important;
}
.cpointer {
  cursor: pointer;
}
.darken {
  background-color: rgba(20,20,20,0.7);
}
form, .panel {
}
.index-primary {
  z-index: 999;
}
.isHidden {
  display: none !important;
}
.isNumber {
  text-align: right;
}
.limit-text {
  overflow: hidden;
  max-width: 1px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#loading {
  border: 1px solid #f00 !important;
  background-color: rgba(20,20,20,0.5);
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
}
#loading span {
  border: 1px solid #222 !important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(250,250,250,0.9);
  font-weight: bold;
  padding: 1em;
  position: relative;
  top: 45%;
}
#loading span img {
  position: relative;
  width: 2em;
}
.panel {
  overflow: hidden;
}
.panel .panel-header {
  background-color: #3b5998 !important;
  left: -20px !important;
  padding: 0.5em 1em !important;
  position: relative !important;
  -webkit-box-shadow: 3px 3px 10px #222;
  box-shadow: 3px 3px 10px #222;
  top: -16px !important;
  text-shadow: 2px 2px 1px #222;
  width: 115%;
}
.panel-modal {
  color: #eee;
  background-color: rgba(20,20,20,0.9);
  height: 100%;
  left: 0;
  padding: 1em;
  position: absolute;
  top: 0;
  width: 100%;
}
.panel-modal strong {
  text-shadow: 2px 2px 1px #222;
}
table {
  -webkit-box-shadow: 3px 3px 10px #222;
  box-shadow: 3px 3px 10px #222;
}
table th {
  background-color: #2b4998;
  color: #fff !important;
  font-weight: bold;
  text-shadow: 3px 3px 10px #222;
}
table,
table td,
table th {
  border: none !important;
}
table .isSelected td.special {
  background-color: #4d90f0;
}
table.hovered tr:hover {
  background-color: rgba(50,40,200,0.8) !important;
}
table.hovered tr:hover td {
  color: #eee;
  text-shadow: 2px 2px 1px #222;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  padding-right: 0.3em;
  text-align: right;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
/*------------------------- 21.-Custom --------------------*/
.top-bar {
  -webkit-box-shadow: 3px 3px 10px #222;
  box-shadow: 3px 3px 10px #222;
}
.top-bar,
.top-bar ul,
.top-bar a {
  background-color: #2b4998 !important;
}
.top-bar .divider {
  border-color: #1b3978 !important;
}
.top-bar .dropdown,
.top-bar .dropdown a {
  background-color: rgba(59,89,152,0.6) !important;
}
/*------------------------- 22.-MediaQueries --------------------*/
@media (max-width: 320px) {
  #main-container #venta_articulos table th {
    font-size: 0.6em;
  }
  #main-container .sidebar label {
    margin: 0 auto;
    width: 90%;
  }
}
